* {
  padding: 0;
  margin: 0;
}
p {
  margin-bottom: 20px;
}
.wrapper {
  width: 80%;
  margin: auto;
  overflow:hidden;
}
header {
  background: rgba(0, 0, 0, 0.999);
  width: 100%;
  position: fixed;
  z-index: 10;
}


nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
nav ul li:hover {
  background: #243841;
}
.contenido {
  padding-top: 80px;
}

img{
    text-align: center;
}
body{ 
  width: 100%;
  margin:0;
  font-family: sans-serif;
  background-repeat:no-repeat;
  background-position-x:center;
  background-position-y:center;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-family: 'Ginebra', monospace;
  background-image: linear-gradient(135deg,#4e8b8d,#47cdc7,#2F3F80,#4d9c98,#749f9e,#7ba1a0);
  background-size:350%;
  /*animation:fanimado 10s infinite;*/
  position: relative;
  background:#656667; /*Si se quiere el degradado se comenta esta linea*/
  }

  @keyframes fanimado {
      0%{
          background-position: 0% 50%;
      }
      50%{
          background-position: 50% 100%;
      }
100%{
  background-position: 0% 50%;
}        
  }
.ImagenLogo{
  height: 60px;
  width: 180px;
  padding: 18px 14px 18px 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;

}
header{
  position: fixed;
  width: 100%;
  background: 	rgba(30, 31, 31, 0.839);
}
#btn-menu{
display:none;
}
header label{
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-right: 1px solid #fff;
}
header label:hover{
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}
.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display:flex;
}
.menu li {
  flex-grow: 1;
}
.menu li:hover{
  background: rgba(0,0,0,0.3);
}
.menu li a {
  display: block;
  padding: 15px 20px ;
  color:#fff;
  text-decoration: none;
}
@media (max-width:700px){
  header {
    flex-direction: column;
  }
  header label{
      display: flex;
  }
.menu{
  position:absolute;
  background: #4c8feb;
  width: 70%;
  margin-left: -70%;
  transition: all 0.5s;
  }
.menu ul {
flex-direction: column;
  }
.menu li {
  border-top :1 px solid #fff;
}
#btn-menu:checked ~ .menu {
margin:0;
} 
}

h2 {

  font-size: 12px;
  padding-top: 0px;
  display:block;

}

.slider-frame {
width: 1180px;
  height: 400px;
margin: 3px auto 0;
overflow: hidden;
  border-radius: 12px;
}

.slider-frame ul {
display: flex;
padding: 0;
width: 400%;
animation: slide 10s infinite alternate ease-in-out;
  border-radius: 6px;
}

.slider-frame li {
width: 100%;
list-style: none;
  border-radius: 6px;
}

.slider-frame img {
width: 100%;
  border-radius: 6px;
}

@keyframes slide {
0% {margin-left: 0;}
20% {margin-left: 0;}

25% {margin-left: -100%;}
45% {margin-left: -100%;}

50% {margin-left: -200%;}
70% {margin-left: -200%;}

75% {margin-left: -300%;}
100% {margin-left: -300%;}
}


.titulo{
margin: 9px;
background:#87CEFA;
font-family:'Courier New', Courier, monospace;  
font-size: 30px;
}
 .subtitulo {
font-family: 'Courier New', Courier, monospace;
font-size: 35px;
 }

.Descripcion{
  font-family:'Courier New', Courier, monospace;
  margin: 0;
  font-size: 29px;
  text-align: justify;
}

.container{
  width: 100%;
  display:flex;
  max-width: 1200px;
  justify-content: center;
  margin:auto;
}
.card{
  
  width:100%;
  margin: 40px;
  border-radius: 6px;
  overflow: hidden;
  background:#fff;
  box-shadow:0px 1px 10px rgba(0,0,0,0.2);
  cursor:default;
  transform: all 400ms ease;
  background:#B3EEEC ;
   
}
.menuS{
  text-align: center;
  margin: 20px;
}
.menuS li{
 display: inline-block;
 text-align: center;
}
.menuS li a{
 display: inline-block;
 color:white;
 text-decoration: none;
 background-color: grey;
 padding: 10px;
 width: 20px;
 height: 20px;
 font-size: 20px;
 border-radius: 100%;
}

.card:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translate(-3%);
}
.card img{
  width: 100%;
  height: 210px;
}
.card .contenido{
  padding:15px;
  text-align: center;
  
}
.card .contenido p{
  line-height: 1.5;
  color: #6a6a6a;
}
.card .contenido h3{
 font-weight: 400;
 margin-bottom: 15px;
}

.row{
  display:flex;
  padding: 5px; 
  flex-wrap: wrap;  
}
.column{
  flex:25%;
  padding: 5px;
}
.column img{
  margin-top: 5px;
}



@media (max-width:600px){
  .column{
       flex:100%;
  }
}

.social-bar{
   position: fixed;
   right: 0;
   top:35%;
   font-size: 1.5rem;
   display:flex;
   flex-direction: column;
   align-items: flex-end;
   z-index: 100;
}
.icon{
   color: white;
   text-decoration: none;
   padding: .7rem;
  display: flex;
  transition: all .5s;
}
.ico-8X{
font-size: 8em;
background: white;
color: black;
}
.icon-facebook2{
  background: #2E406E;
}
.icon-google{
  background: yellow;
}
.icon-whatsapp{
  background: #4cf01a;
}

.icon-location2{
  background:#db0e1f; ;
}

p {
  margin: 0px;
  text-align: center;
  padding: 3em;
  font-family: 'Passion One', cursive;

}
h1{
  height: 0px;
  width: auto;
  text-align: center;
  font-family: 'Passion One';
  font-size: 16px;
  display: block;
  
}

.button{
  background:#B3EEEC  ;
  color: black;
  display: inline-block;
  font-size:1.25em;
  margin:20px;
  padding: 10px 0px;
  text-align: center;
  width: 200px;
  text-decoration: none;
 
}
.button span{
  margin-right: 10px;
  }

.button.medium{
  width: 350px;
}
.button.large{
  width: 450px;
  margin-left: 140px;
}

/*FOOTER*/
.main{
  width: 80%;
  margin: auto;
}
footer{
  width: 100%;
  padding: 40px 0px;
  background-image: url(../Images/background-footer.svg);
  background-size: cover;

  
  
  /*background-color: #d0f0f8;
  -webkit-mask-image: url("../Images/background-footer.svg");
  mask-image: url("../Images/background-footer.svg");
  -webkit-mask-size: cover;
  mask-size: cover;*/
}

.container__footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  
}

.box__footer{
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box__footer .logo img{
  width: 135px;
}

.box__footer .terms{
  max-width: 350px;
  margin-top: 20px;
  font-weight: 300;
  color: #2e2c2c;
  font-size: 18px;
}

.box__footer h2{
  margin-bottom: 40px;
  color: #0e0e0e;
  font-weight: 1200;
}

.box__footer a{
  margin-top: 10px;
  color: #141414;
  font-weight: 1000;
}

.box__footer a:hover{
  opacity: 0.12;
}

.box__footer a .fab{
  font-size: 20px;
}

.box__copyright{
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 10px;
}

.box__copyright p{
  margin-top: 20px;
  color: #0c0c0c;
}

.box__copyright b{
  margin-top: 20px;
  color: #0a0a0a;
}



/*Estilos de las cajas*/

.flex-container {
  width: auto;
  padding: 80pt;
  display: flex;

}

.flex-container-second {
  margin: auto;
  display: flex;
  padding-top: 40pt;
}

/*
.card {
  border: 1px solid #111111b0;
  border-radius: 5px;
  background-color: rgb(144, 154, 162);
  color: rgb(19, 19, 19);
  width: 300px;
  height: 350px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  position: relative;
  
}*/
.card {
  
  width: 100%;
  margin: 40px;
  border-radius: 6px;
  overflow: hidden;
  background:#fff;
  box-shadow:0px 1px 10px rgba(0,0,0,0.2);
  cursor:default;
  transform: all 400ms ease;
  background:#000000 ;
   
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 500px;
  margin: 20px;
  font-weight: bold;
  text-align: center;
 
}

.card img {
  display: flex;
  width: auto;
  height: auto;
}
.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {
 margin: auto;
 padding: auto;
}

.card .front h4 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0,0,0,.4);
  text-align: center;
  font-size: 40px;
}

.card .front h2 {
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 50px;
  color: #e5e5e5;
  background: rgba(0,0,0,.4);
  text-align: center;
  font-size: 20px;
}


/*Estilo de animación de la parte de atras de la card*/
.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgba(0, 0, 0, 0.839);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
  font-size: 20px;
}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 80px;
  line-height: 50px;
  
}

.card .back .link a {
  color: #f3f3f3;
}


.card .back h4 {
  font-size: 50px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back  img{
   /*display: flex;**/
   width: auto;
   height: auto;
}

.card .back img {
  margin: auto;
  padding: auto;
 }

.card .back h2 {
  font-size: 75px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
} 

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}


/*Acomodo del video*/
video{
  float: left;
}

.c1 {
  flex-grow: 3;
}

.c2 {
  flex-grow: 1;
}

.video {
  align-content: center;
  flex-direction: column;
  width: 100%;
}

.videopromo {
  /*align-content: center;
  flex-direction: column;
  width: 50%;
  height: 50%;
  display: flex;*/
  float: left;
}

#img-center{
 position:absolute;
 top: 50%;
 left: 50%;
 margin-top: auto;
 margin-left: auto;
 transform: translate(-50%, -50%);
 display: flex;
}

.center {
  width: 100%;
  text-align: center;
  align-items: center;
}

#img-back{
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: auto;
  margin-left: auto;
  transform: translate(-50%, -50%);
  display: flex;
 }

 .back{
  width: 50%;
  text-align: center;
  align-items: center;
 }